*{
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    margin: 0;
}
.head-nav{
    height: 600px;
    width: 100%;
    margin: 0;
    background-color: #1f2937;
    border: 0;
    position: relative;
    
}
.nav-div-cont{
    display: block;
    justify-content: center;
}
.nav-div1{
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 80px;
}
.head-nav-logo{
    height: 150px;
    width: 150px;
    color: #f9faf8;
    font-size: 20px;
    display: flex;
    flex-grow: 100;
    margin-left: 80px;
}
.nav-bar .nav-ul{
    list-style-type: none;
    font-size: 18px;
    display: flex;
    color: #e5e7eb;
    gap: 30px;
    padding-top: 20px;
    margin-right: 80px;
}
.container1{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 0;
}
.sub-container{
    display: block;
    flex-direction: column;
    height: 300px;
    width: 50%;
    margin-left: 150px;
    margin-right: 0;
    justify-content: flex-start;
    align-items: baseline;
    padding: 5px;
}
.img-container{
    background-color: #E5E7EB;
    height: 300px;
    width: 50%;
    margin-right: 150px;
    margin-left: 0;
}
.sub-h1{
    font-size: 30px;
    font-weight: 900;
    color: #f9faf8;
    margin-top: -30px;
    margin-bottom: 0;  
}
.sub-p p{
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}
.sub-button button{
    background-color: #3882f6;
    color: #e5e7eb;
    width: 100px;
    height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}
.h2-container, h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}
.img-illustration-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.img-illustration{
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.img-il-cont{
    width: 150px;
    text-align: center;
}
.testimonial-cont{
    background-color: #E5E7EB;
    height: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.testimonial-cont q{
    text-align: center;
    font-weight: light;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    margin-top: 30px;
}
.test-p-cont{
    width: 600px;
    height: 300px;
    
}
.action-cont{
    height: 300px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
.action{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-color: #3882f6;
    justify-self: center;
    height: 150px;
    width: 1000px;
    justify-content: space-around;
    color: #E5E7EB;
    border-radius: 10px;

}
.action-button{
    color: #E5E7EB;
    border: 2px solid #e5e7eb;
    background-color: #3882f6;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    font-size: 15px;
}
.copy-cont{
    background-color: #1f2937;
    align-content: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    color: #e5e7eb;
    text-align: center;
}